<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ if and (eq .Section "elements") (eq .Kind "section") }}
  <script src="{{ "vendor/leaflet/leaflet.js" | relURL }}" defer></script>
  {{ $mapaJs := resources.Get "js/mapa.js" | minify | fingerprint }}
  <script src="{{ $mapaJs.RelPermalink }}" integrity="{{ $mapaJs.Data.Integrity }}" defer></script>
  {{ end }}
</body>
</html>
