<header class="site-header">
  <a class="site-logo" href="{{ site.Home.Permalink }}">
    {{ if site.Params.logoImg }}
    <img src="{{ site.Params.logoImg | relURL }}" alt="{{ site.Title }}" class="site-logo-img">
    {{ else }}
    {{ site.Params.logoText | default site.Title }}
    {{ end }}
  </a>
  <nav class="site-nav" aria-label="{{ i18n `nav_label` | default `Navegació principal` }}">
    <ul>
      {{ range site.Menus.main }}
      <li>
        <a href="{{ .URL }}">
          <span class="nav-label">{{ .Name }}</span>
          <span class="nav-icon" aria-hidden="true">{{ substr .Name 0 1 }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
