{{- $slug := .Get "slug" -}}
{{- $pubs := $.Site.Data.publicacions -}}
{{- $pub  := index (where $pubs "slug" $slug) 0 -}}
{{- if $pub -}}
  {{- $img := "" -}}
  {{- range slice ".webp" ".jpg" ".png" -}}
    {{- if and (not $img) (fileExists (printf "static/img/publicacions/%s%s" $slug .)) -}}
      {{- $img = printf "img/publicacions/%s%s" $slug . -}}
    {{- end -}}
  {{- end -}}
  {{- $href := printf "publicacions/%s/" $slug | absURL -}}
  {{- if $img -}}
<a href="{{ $href }}" title="Llegir-ne més: {{ $pub.titol }}">
<img src="{{ $img | absURL }}" alt="Portada: {{ $pub.titol }}"
     class="portada-guia-img" loading="lazy" width="130">
</a>
  {{- else -}}
<a href="{{ $href }}" class="portada-guia-placeholder" style="background:{{ $pub.color }}"
   title="{{ $pub.titol }}" aria-label="Llegir-ne més: {{ $pub.titol }}"></a>
  {{- end -}}
{{- end -}}
