{{- $slug := .Get "slug" -}}
{{- $pubs := $.Site.Data.publicacions -}}
{{- $pub  := index (where $pubs "slug" $slug) 0 -}}
{{- if $pub -}}
  {{- $img  := "" -}}
  {{- range slice ".webp" ".jpg" ".png" -}}
    {{- if and (not $img) (fileExists (printf "static/img/publicacions/%s%s" $slug .)) -}}
      {{- $img = printf "/img/publicacions/%s%s" $slug . -}}
    {{- end -}}
  {{- end -}}
  {{- if $img -}}
<img src="{{ $img | relURL }}" alt="Portada: {{ $pub.titol }}"
     class="portada-guia-img" loading="lazy" width="130">
  {{- else -}}
<div class="portada-guia-placeholder" style="background:{{ $pub.color }}"
     aria-hidden="true" title="{{ $pub.titol }}"></div>
  {{- end -}}
{{- end -}}
